* {
    box-sizing: border-box;
}

#app {
    max-width: 80%;
    margin: auto;
    font-family: Assistant, sans-serif;
}

.team {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.person {
    max-width: 300px;
    text-align: center;
    min-width: 200px;
    margin-bottom: 3rem;
    margin: 1rem 2rem 3rem 2rem;
    padding: 0.7rem;
}

.person:hover {
    background-color: #f1f1f1;
}

.profile-pic {
    max-width: 50%;
    border-radius: 200px;
    margin: 0 auto;
}

.info p{
    margin: 0px;
    color: #666;
}

.name {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    border-bottom: solid lightgray 1px;
    padding-bottom: .5rem;
}

/* #app:nth-child(odd) .org{
    background-color: lightgray;
} */